section {
    /* max-width: 600px; */
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 20px;
    background-color: dimgray;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 215, 0, 0.75);
}
div.alert.alert-success {
    width: 100%;
}
table {
    max-width: 100%;
    margin: 5px;
}
thead {
    background-color: grey;
}
tbody > tr:nth-child(even) {
    background-color: grey;
}

th,
td {
    color: white;
}

.btn-warning {
    background-color: darkgoldenrod;
    border-color: darkgoldenrod;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
}

.btn-warning:hover {
    background-color: goldenrod;
    border-color: goldenrod;
    color: white;
}

.btn-danger {
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    color: black;
}

.btn-danger:hover {
    background-color: red;
    border-color: red;
}
